@media screen and (max-width: 899px)
{
	.inlineFooterText
	{
		display: none;
	}

	.uiElement
	{
		margin-right: 0;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.fa-cog
	{
		margin-right:7px;
	}
}

@media screen and (max-width: 639px)
{
	header
	{
		grid-template-columns: 1fr 1fr;
	}

	.leftHeader
	{
		display: none;
	}

	.middleHeader
	{
		justify-self:left;
	}

	.tripWrapper
	{
		border-left-width: 0;
		border-right-width: 0;
		border-radius:0px;

		width: calc(100% - 14px);
		margin-left: 0;
	}
}
